@media (max-width:480px) {
    section#section-value div.content {
        margin: 20px 0 20px 0;
    }
    section#section-value div.content .info {
        margin: 0px;
    }
    section#section-value div.content .row img.image {
        width: 100%;
        margin-bottom: 10px;
    }
    /*our-experts*/
    .our-experts-content .item img {
        width: 100%;
    }
    .our-experts-content .img {
        text-align: right;
        padding-right: 0px;
        margin-bottom: 10px;
    }
    .our-experts-content .item h3{
        text-align: center;
    }
    .our-experts-content .carousel-indicators {
        margin-bottom: -40px;
    }
    .our-experts-content {
        padding: 50px 0px;
        background: #F2F2F2;
    }
    .banner-content {
        position: absolute;
        top: 41%;
        left: 29%;
        background: unset;
        color: #ffffff;
        width: 44%;
        padding: 10px 15px;

    }
    .banner-content p:first-child {
       display: none;
    }

}

@media (min-width:768px) and (max-width: 1024px) {}

@media (min-width:1024px) {}